MasterTracker/__pycache__/*
MasterTracker/DatabaseMaster/__pycache__/*
DataNode/__pycache__/*
Client/__pycache__/*
*.pyc
logs/*
os.txt
node_1/
node_2/
.history/
Client/*.pyc
DataNode/*.pyc
logs/*.pyc
MasterTracker/*.pyc
DataNode/DatabaseSlave/__pycache__/*
__pycache__/*
Client/__pycache__/AccessFS.cpython-36.pyc
RunMachinesRamy.py
